<% include ../partials/header %>
    <form action="/purchases/update" method="post">
        <div class="form-group">
            <label for="">ID</label>
            <input type="number" class="form-control" value="<%= purchase.id%>" name="id" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Purchases ID</small>
        </div>

        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" value="<%= purchase.name%>" name="name" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Purchases Name</small>
        </div>
        <div class="form-group">
            <label for="">Address</label>
            <input type="text" class="form-control" value="<%= purchase.address%>" name="address" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Purchases Address</small>
        </div>
        <div class="form-group">
            <label for="">State</label>
            <input type="text" class="form-control" value="<%= purchase.state%>" name="state" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Purchases State</small>
        </div>
        <div class="form-group">
            <label for="">Zipcode</label>
            <input type="number" class="form-control" value="<%= purchase.zipcode%>" name="zipcode" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Purchases Zipcode</small>
        </div>
        <div class="form-group">
            <label for="">User_ID</label>
            <input type="number" class="form-control" value="<%= purchase.user_id%>" name="user_id" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Purchases User_ID</small>
        </div>

        


        <a class="btn btn-success" href="/purchases" role="button">Cancle</a>
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-danger" onclick="confirm('Do you want to delete purchases');" href="/purdelete/<%= purchase.id %>" role="button">Delete</a>



    </form>

    <% include ../partials/footer %>